* {
  /*Parametros generales*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'titulos';
  src: url('../Fuentes/Love\ Twist.ttf') format('opentype');
}

@font-face {
  font-family: 'maquina';
  src: url('../Fuentes/WatermelonSugar.ttf') format('opentype');
}
.titulo {
  background-color: #ffe6f0;
  padding: 20px;
  text-align: center;
  border: 1px solid #ffc0db;
  width: 85%;
  min-height: 500px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos Minimalista */
.minimalist {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  width: 85%;
  min-height: 500px;
  margin: auto;
  margin-top: 20px;
}

/* Estilos Aesthetic */
.aesthetic {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 85%;
  min-height: 500px;
  margin: auto;
  margin-top: 20px;
}

/* Estilos Sanrio de Hello Kitty */
.hello-kitty {
  background-color: #ffe6f0;
  padding: 20px;
  text-align: center;
  border: 1px solid #ffc0db;
  width: 85%;
  min-height: 500px;
  margin: auto;
  margin-top: 20px;
}

/* Estilos del título */
.title {
  text-align: center;

  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 40px; /* Tamaño de fuente */
  color: #FF4081; /* Color de texto */
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5); /* Sombra de texto */
  font-weight: bold;
  padding: 20px;
}


/* Estilos del subtítulo */
.subtitle {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 40px; /* Tamaño de fuente */
  color: #FF4081; /* Color de texto */

  font-weight: bold;
  padding: 20px;
}

/* Estilos del contenido */
.content {
  font-size: 16px;
  line-height: 1.6; /* Ajusta el espaciado entre líneas para una mejor legibilidad */
  color: #555; /* Cambia el color del texto según tu preferencia */
  font-family: 'Century Gothic',Courier New, sans-serif;/* Cambia la fuente según tu preferencia */
  padding: 20px; /* Añade espacio interno para que el contenido respire */

 
}

footer {
  display: flex;
  width: 100%;
  height: 250px;
  background-color: #FFD1DC; /* Color de fondo */
  color: #FF4081; /* Color de texto */
  font-family: 'Arial', sans-serif; /* Tipo de letra */
  font-size: 15px; /* Tamaño de fuente */
  padding: 10px;
  margin-top: 20px;
  justify-content: center; /* Centrar contenido horizontalmente */
  align-items: center; /* Centrar contenido verticalmente */
  border-top: 5px solid #FF85AB; /* Borde superior */
}
p{
  font-family: "maquina";
  font-size: 20px;
}
footer {
  display: flex;
  width: 100%;
  height: 250px;
  background-color: #FFD1DC; /* Color de fondo */
  color: #FF4081; /* Color de texto */
  font-family: 'Arial', sans-serif; /* Tipo de letra */
  font-size: 15px; /* Tamaño de fuente */
  padding: 10px;
  margin-top: 20px;
  justify-content: center; /* Centrar contenido horizontalmente */
  align-items: center; /* Centrar contenido verticalmente */
  border-top: 5px solid #FF85AB; /* Borde superior */
}
nav ul{
  background-color: #FF4081;
  width: 100%;
  list-style-type: none;
  text-align: center;
}
nav li{
  display: inline-flex;
}
nav a{
  text-decoration: none;
 
  padding: 10px;
  width: 150px;
}
nav li:hover{
  background-color:  #FFD1DC;
}
h1 {
  text-align: center;
  background-color: #FFD1DC; /* Color de fondo */
  font-family: "titulos", cursive, sans-serif;
  font-size: 60px; /* Tamaño de fuente */
  color: #FF4081; /* Color de texto */
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5); /* Sombra de texto */
  font-weight: bold;
  padding: 20px;
}
